.container{
    max-width: 100%;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}
/* rgb(0,157,194) */
body{
    background-image: url(/assets/img/sfondo.png);
}

/* header */

#title{
    text-align: center;
    background-color: rgb(0,157,194);
    padding: 10%;
    box-shadow: 12px 13px 6px -7px rgba(0,0,0,0.6);
}

#title > img{
    height: 4.5em;
}

#title h2{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding: 1em 0;
    
    
}

#title li{
    font-weight: bold;
    color: white;
    padding: 0.5em 0;
}

#title ul{
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title ul ion-icon{
    padding-right: 10px;
    padding-left: 10px;
}
/* MAIN */

#blog-post{
    background-color: white;
    border: 0.4px solid;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Lilita One', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}

/* main article */

h1{
    display: flex;
    font-size: 40px;
    font-weight: bold
}

#blog-post>p:first-of-type{
    font-size: 15px;
    padding: 30px 0;
    align-self: flex-start;
}

#blog-post ul{
    padding: 30px 0;
    list-style-type: disc;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 3em;
    line-height: 1.5em;
    
}



#blog-post ol{
    padding: 30px 0;
    list-style-type:decimal;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 3em;
}

hr{
    visibility: hidden;
}

#css{
    padding: 30px 0;
}



/* TABELLE */

#css-usage{

}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
